.markdown-helper > * {
    font-family: var(--primary-font);
    line-height: 1.1;
    font-size: 1.8rem;
    color: var(--color-black);
    font-weight: 400;
}
.markdown-styles{
    text-align: justify;
}