.home-section{
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(5, 5, 5, .7), rgba(5, 5, 5, .2)), url(../../assets/hero.jpg);
    background-size: cover;
    background-position: top; 
}
